<div class="page" class="contact">
    <h3 class="form_page_title">Please enter new password for your account</h3>
    <div class="page_content account-new-password-wrapper">
        <fieldset id="contact_form">
            <div id="msgs"> </div>
            <form id="newPasswordForm" class="register-form" [formGroup]="newPasswordForm"
                (ngSubmit)="onAccountNewPasswordSubmit($event)">
                <div class="input-wrapper">
                    <label for="password">Password<span class="required-star">*</span>:</label>
                    <input type="password" id="password" placeholder="Enter Password*" formControlName="password">
                    <small class="text-danger" *ngIf="(newPasswordForm.get('password')?.hasError('required')) &&
                            (newPasswordForm.get('password')?.dirty || newPasswordForm.get('password')?.touched)">
                        Password cannot be empty!
                    </small>
                    <small class="text-danger" *ngIf="newPasswordForm.get('password')?.invalid && newPasswordForm.get('password')?.hasError('pattern') &&
                            (newPasswordForm.get('password')?.dirty || newPasswordForm.get('password')?.touched)">
                        Password must be minimum 10 and maximum 65 characters, at least one uppercase letter, one
                        lowercase letter, one number and one special character!
                    </small>
                </div>

                <div class="input-wrapper">
                    <label for="repeatPassword">Repeat password<span class="required-star">*</span>:</label>
                    <input type="password" id="repeatPassword" placeholder="Repeat Password*"
                        formControlName="repeatPassword">
                    <small class="text-danger"
                        *ngIf="(newPasswordForm.get('repeatPassword')?.hasError('required')) &&
                            (newPasswordForm.get('repeatPassword')?.dirty || newPasswordForm.get('repeatPassword')?.touched)">
                        Repeat password cannot be empty!
                    </small>
                    <small class="text-danger"
                        *ngIf="(newPasswordForm.get('password')?.value != newPasswordForm.get('repeatPassword')?.value) && (newPasswordForm.get('repeatPassword')?.dirty || newPasswordForm.get('repeatPassword')?.touched)">
                        Repeat password must match the password!
                    </small>
                </div>
                <button id="submit" type="submit" class="button submit">Submit</button>
            </form>
        </fieldset>
        <div class="clear"></div>
    </div>
</div>