.forgot-password-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

label {
    position: relative;
    padding-left: 5px;

    .required-star {
        top: -10px;
    }
}

small.text-danger {
    width: 100%;
    max-width: 600px;
    background: white;
    display: block;
    font-style: italic;
    padding: 5px 10px;
    margin: 0;
    border-radius: 4px;
    position: absolute;
    border: 1px solid black;
    z-index: 1;
}

.submit {
    margin-top: 40px;
}