<div class="page" class="contact">
    <h3 class="form_page_title">Please enter email for password recovering</h3>
    <div class="page_content forgot-password-wrapper">
        <fieldset id="contact_form">
            <div id="msgs"> </div>
            <form id="forgotPasswordForm" class="forgot-password-form" [formGroup]="forgotPasswordForm"
                (ngSubmit)="onForgotPasswordSubmit($event)">
                <div class="input-wrapper">
                    <label for="email">Email<span class="required-star">*</span>:</label>
                    <input type="email" id="email" placeholder="Enter Email*" formControlName="email">
                    <small class="text-danger" *ngIf="(forgotPasswordForm.get('email')?.hasError('required')) &&
                        (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">
                        Email cannot be empty!
                    </small>
                    <small class="text-danger" *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.hasError('pattern') &&
                        (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">
                        Incorrect email format!
                    </small>
                </div>
                <button id="submit" type="submit" class="button submit">Submit</button>
            </form>
        </fieldset>
        <div class="clear"></div>
    </div>
</div>