.sidebar {
  width: 17.3%;
  height: 100%;
  float: left;
  background: #2c2c2c;
  border-right: 1px solid #2e2f2f;
  position: fixed;
  z-index: 1;
}

.curious-readers-heading-main {
  font-size: 26px;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  color: white;
  font-style: italic;
}

ul.navigation {
  margin-top: 25px;
}

ul.navigation li {
  border: none;
  background: none;
  margin: 0;
  padding: 0
}

ul.navigation li a:link,
ul#navigation li a:visited {
  text-decoration: none;
  font-family: 'OstrichSansBlack', Arial, sans-serif;
  margin-bottom: 1px;
  width: auto;
  font-size: 20px;
  text-align: left;
  padding-left: 10px !important;
  display: block;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  padding: 5px 10px 5px 0
}

ul.navigation li a:hover,
ul#navigation li a.active {
  background: #1b1b1b;
  color: #FFF;
}

ul.navigation li a {
  display: block;
  padding: 5px 10px;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}

a.active {
  background: #1b1b1b;
  color: #FFF;
}

@media only screen and (max-width: 980px) {
	.sidebar {
    width: 100%;
    position: initial;
  }
}

.welcome-username-heading {
  margin: 15px;
  color: white;
  font-size: 14px;

  .librarian-email {
    color: whitesmoke;
    font-style: italic;
    font-weight: bold;
  }
}

.notifications-bar {
  position: relative;

  .badge {
    position: absolute;
    top: 6px;
    right: 5px;
    padding-bottom: 30px;
    height: 24px;
    width: 27px;
    border-radius: 50%;
    text-align: center;
    background: red;
    font-weight: bold;
    color: white;
  }
}