<div class="page">
  <div class="page_content">
    <div class="librarian-hub-header">
      <h2 class="librarian-hub-heading">Librarian Hub</h2>
    </div>
    <div class="librarian-hub-body">
      <div class="librarian-button-wrapper">
        <a class="action" [routerLink]="['/books']">
          <i class="bi bi-bookshelf"></i>
          Manage Books
        </a>
      </div>
      <div class="librarian-button-wrapper">
        <a class="action" [routerLink]="['/book/add']">
          <i class="bi bi-book"></i>
          Add <br/> Book
        </a>
      </div>
      <div class="librarian-button-wrapper">
        <a class="action" [routerLink]="['/users/inactive']">
          <i class="bi bi-person-bounding-box"></i>
          Users for Approval
        </a>
      </div>
      <div class="librarian-button-wrapper">
        <a class="action" [routerLink]="['/users/active']">
          <i class="bi bi-person-check-fill"></i>
          Active Users
        </a>
      </div>
      <div class="librarian-button-wrapper">
        <a class="action" [routerLink]="['/books-reservations']">
          <i class="bi bi-bookmark-check-fill"></i>
          Books Reservations
        </a>
      </div>
      <div class="librarian-button-wrapper">
        <a class="action" [routerLink]="['/pending-returns']">
          <i class="bi bi-bag-fill"></i>
          Pending Returns
        </a>
      </div>
      <div class="librarian-button-wrapper">
        <a class="action" [routerLink]="['/comments-approval']">
          <i class="bi bi-card-text"></i>
          Approve Comments
        </a>
      </div>
      <div class="librarian-button-wrapper">
        <a class="action" [routerLink]="['/books-return']">
          <i class="bi bi-layer-backward"></i>
          Mark Returned Books
        </a>
      </div>
    </div>
  </div>
</div>
